<div class="row">
  <div class="col-sm-12">
     <h3 class="heading">All Mobiles &amp; Tabs</h3>
  </div>
  <div class="col-sm-3" *ngFor="let data of phones">
      <div class="card">
        <div class="overlay"></div>
        <img class="card-img-top" src="{{data.imageUrl}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">${{data.price}}</h4>
        </div>
        <span class="btn_wrap">
          <a [routerLink]="['/mobile-features', data.id]" class="btn btn-lg btn-block btn-info">Features</a>
          <a class="btn btn-lg btn-block btn-primary" (click)="addCart(data)">Add to Cart</a>
        </span>
      </div>
  </div>
</div>