@import "../../../../assets/global-styles/media-queries.scss";

.heading{

    margin-bottom: 30px;

}

.card{

    background-image: linear-gradient(208deg, rgba(255,0,0,0) 60%, rgb(242, 222, 233));

    width:100%;
    
    margin-bottom: 30px;

    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);

    transition: all .3s ease-in-out;

    border: none;

    position: relative;
    

    &:hover{

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .overlay{

            position: absolute;

            width: 100%;

            height: 100%;

            display: block;

            background-color: rgba(0, 0, 0 , 0.8);
        
            z-index: 1;

            transition: all .5s ease-in-out;

        }

        .btn_wrap{
            
            opacity: 1;

            bottom: 35%;

            z-index: 2;

            transition: all .3s ease-in-out;


        }

    }
        
    img{
    
        transform: scale(0.7);
    
    }

    .card-body{

        .card-title{

            height: 45px;

            margin: 0;

        }

    }

    .btn_wrap{

        width: 100%;

        opacity: 0;

        height: 100px;
                        
        padding: 0 15px;

        position: absolute;

        bottom: 0;

        transition: all .3s;

        .btn{
        
            &.btn-info,&.btn-primary{
        
                color: #fff;

                font-weight: bold;
                
                background: transparent;
                
                border: 2px solid #fff;
                
                &:hover {
                    
                    color: rgba(0, 0, 0, 0.9);

                    background: #fff;

                    animation: pulsating 1s infinite linear;
                
                }
        
            }
        
            &:focus{
        
                box-shadow: none;
        
                outline: none;
        
            }

            @media #{$break-xxxlarge, $break-xxxlarge2, all and (max-width: 1400px)}{
		
                padding: 5px 15px;

                font-size: 17px;
        
            }
        
        }

    }

}

.modal-dialog{

    max-width: 70% !important;

    min-height: auto !important;

    .table tr{

        &:first-child{

            td,th{
                
                border-top: none;
            
            }

        }

    }


}

@keyframes pulsating {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }