<div>
  <ul class="list-unstyled">
    <li>
      <table class="table table-hover">
        <thead>
          <th>Product</th>
          <th>Unit Price</th>
          <th class="text-center">Quantity</th>
          <th>Total Price</th>
          <th></th>
        </thead>
          <tbody *ngFor='let CData of cartData'>
            <tr>
              <td>
                <div class="media">
                  <div class="media-left">
                    <img src="{{CData.imageUrl}}" class="media-object" style="width:60px">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{CData.name}}</h4>
                  </div>
                </div>
              </td>
              <td>${{CData.price}}</td>
              <td class="text-center"><input type="number" [(ngModel)]="CData.quantity" name="quantity" style="text-align:center;" /></td>
              <td>${{CData.price*CData.quantity | number}}</td>
              <td><a href="javascript:void(0);" (click)="onDelete(CData.id)" class="btn btn-danger">delete</a></td>
            </tr>
          </tbody>
      </table>
    </li>
    <li>Total price <span>{{total}}</span></li>
  </ul>
</div>