<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><span class="fa fa-opencart" style="font-size:40px;position: relative;bottom: -6px;line-height: 0;">&nbsp;</span>Shopping</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a routerLink="/mobiles" style="color:#fff;">MOBILES</a>
                </li>
            </ul>
            <form class="form-inline pull-right">
                <a href="#"><mat-icon matBadgeColor="accent" matBadge="{{badgecount}}" matBadgePosition="before" svgIcon="thumbs-up" style="position:relative;top:4px;color:#fff;margin-right:30px;">&nbsp;</mat-icon></a>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>