/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../src/assets/global-styles/media-queries.scss";

.container{


    @media #{$break-largeest}{
		
		max-width: 85%;

	}

	@media #{$break-xxxlarge2}{
		
		max-width: 98%;

	}

	@media #{$break-xxlarge}{
		
		max-width: 100%;

	}

	@media #{$break-xlarge2}{
		
		max-width: 100%;

	}

}

body{

	background: url('assets/phones/images/Website-Background.jpg') no-repeat;

	background-size: cover;

	background-attachment: fixed;
	
}